.form-control-label.required:after
{
	content: ' *';
}

.invalid-feedback
{
	display: flex;
}

.datepicker ~ select,
.datepicker ~ select + .select2
{
	margin: 0 .5rem;
}

.btn-white
{
	@include button-variant(
		#fff,
		#fff,
		$gray-200,
		$gray-200,
		$gray-400,
		$gray-400);
}