$icon-home: "\e900";
$icon-pencil: "\e905";
$icon-image: "\e90d";
$icon-images: "\e90e";
$icon-file-empty: "\e924";
$icon-files-empty: "\e925";
$icon-copy: "\e92c";
$icon-paste: "\e92d";
$icon-folder: "\e92f";
$icon-folder-open: "\e930";
$icon-folder-plus: "\e931";
$icon-folder-minus: "\e932";
$icon-tags: "\e936";
$icon-envelop: "\e945";
$icon-history: "\e94d";
$icon-calendar: "\e953";
$icon-printer: "\e954";
$icon-desktop: "\e956";
$icon-mobile: "\e958";
$icon-tablet: "\e95a";
$icon-user: "\e971";
$icon-users: "\e972";
$icon-search: "\e986";
$icon-key: "\e98d";
$icon-lock: "\e98f";
$icon-unlocked: "\e990";
$icon-cogs: "\e995";
$icon-hammer: "\e996";
$icon-bin: "\e9ac";
$icon-download: "\e9c5";
$icon-upload: "\e9c6";
$icon-earth: "\e9ca";
$icon-eye: "\e9ce";
$icon-eye-blocked: "\e9d1";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";
$icon-blocked: "\ea0e";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-enter: "\ea13";
$icon-exit: "\ea14";
$icon-refresh: "\ea2e";
$icon-arrow-up: "\ea3a";
$icon-arrow-down: "\ea3e";
$icon-sort-asc: "\ea4c";
$icon-sort-desc: "\ea4d";
$icon-mail: "\ea84";
$icon-google: "\ea88";
$icon-facebook: "\ea90";
$icon-instagram: "\ea92";
$icon-whatsapp: "\ea93";
$icon-twitter: "\ea96";
$icon-rss: "\ea9b";
$icon-youtube: "\ea9d";
$icon-linkedin: "\eaca";
$icon-file-pdf: "\eadf";