header
{
	margin-bottom: 1rem;
}

main
{
	flex: 1 0 auto;
}

footer
{
	padding: 1rem 0;
}

body.login main
{
	display: flex;

	flex-direction: column;

	justify-content: center;

	@include media-breakpoint-up(sm)
	{
		form
		{
			padding: 1rem;

			background: #fff;

			border-radius: .25rem;
		}
	}
}

@include media-breakpoint-up(sm)
{
	.listing-form, .form-edit
	{
		padding: 1rem;

		background: #fff;
	}
}
