.listing-table
{
	thead th,
	tbody td
	{
		white-space: nowrap;

		&:first-child,
		&:last-child
		{
			width: 1%;
		}

		&:first-child .custom-control
		{
			display: block;

			margin: 0;
		}
	}

	tbody tr[data-url] td
	{
		cursor: pointer;
	}

	tbody td:last-child a
	{
		text-decoration: none;

		margin: 0 .25rem;

		&:first-child
		{
			margin-left: 0;
		}

		&:last-child
		{
			margin-right: 0;
		}
	}

	.sortable a
	{
		display: flex;
		align-items: center;
		justify-content: space-between;

		text-decoration: none;

		i
		{
			margin-left: .5rem;
		}
	}
}

.listing-filter
{
	margin-bottom: 1rem;

	.collapse
	{
		margin-bottom: 2rem;
	}

	form
	{
		padding: 1rem;

		border-radius: .25rem;

		background: #fff;

		@include media-breakpoint-down(xs)
		{
			background: #fafafa;

			box-shadow: inset 0 0 10px 0 rgba(#000, .1);
		}
	}
}

.listing-pagination
{
	background: #fff;

	@include media-breakpoint-up(sm)
	{
		nav
		{
			padding: 1rem;

			ul
			{
				margin: 0;
			}
		}

		&:last-child nav
		{
			padding-top: 0;
		}
	}
}