.table-list
{
	thead th,
	tbody td
	{
		white-space: nowrap;

		&:first-child,
		&:last-child
		{
			width: 1%;
		}

		&:first-child .custom-control
		{
			display: block;

			margin: 0;
		}
	}

	tbody tr[data-url] td
	{
		cursor: pointer;
	}

	tbody td:last-child a
	{
		text-decoration: none;

		margin: 0 .25rem;

		&:first-child
		{
			margin-left: 0;
		}

		&:last-child
		{
			margin-right: 0;
		}
	}
}

.tabs-list
{
	overflow: hidden;
}