.wrapper
{
	display: flex;

	flex: 1 0 auto;
}

.sidebar
{
	$box-shadow: inset -10px 0px 20px -10px rgba(#000, .2);

	overflow-x: hidden;

	box-shadow: $box-shadow;

	background: $gray-100;

	padding-top: 2rem;

	.nav
	{
		.nav-link
		{
			display: flex;

			align-items: center;

			border-bottom: 1px solid #f2f2f2;
		}

		a.nav-link
		{
			transition: all .2s ease-out;

			&:hover
			{
				background-color: #f6f6f6;

				box-shadow: $box-shadow;
			}

			&:not(.active)
			{
				color: #333;
			}
		}

		span.nav-link
		{
			background-color: #f0f0f0;

			color: #333;

			font-weight: 500;

			box-shadow: $box-shadow;
		}

		i
		{
			margin-right: .5rem;
		}
	}
}

.page
{
	background: #fff;

	@include media-breakpoint-up(sm)
	{
		background: $gray-200;
	}
}

@include media-breakpoint-down(sm)
{
	.wrapper
	{
		flex-direction: column;
	}

	.sidebar
	{
		position: fixed;
		top: 0;
		right: 23%;
		bottom: 0;
		left: 0;
		z-index: 0;

		overflow-y: auto;

		-webkit-overflow-scrolling: touch;
	}

	.page
	{
		display: flex;

		flex-direction: column;
		flex: 1 0 auto;

		position: relative;
		z-index: 1;

		transition: transform .3s ease-out;

		transform: translate3d(0, 0, 0);
	}

	body.sidebar-open
	{
		overflow-y: hidden;

		.wrapper
		{
			overflow-x: hidden;
		}
	}

	body.sidebar-slide .page
	{
		transform: translate3d(77%, 0, 0);
	}

	body:not(.sidebar-open) .sidebar
	{
		display: none;
	}
}

@include media-breakpoint-up(md)
{
	.sidebar
	{
		min-width: 20%;
	}

	.page
	{
		overflow-x: hidden;

		display: flex;

		flex-direction: column;
		flex: 1 1 auto;
	}

	.navbar
	{
		transition: box-shadow .2s ease-out;

		&.fixed-top
		{
			left: 20%;

			box-shadow: 0 5px 10px -4px rgba(#000, .2);
		}
	}
}