.nestable
{
	.nestable-list
	{
		list-style: none;

		margin: 0;
		padding: 0;

		.nestable-list
		{
			margin-left: 1.5rem;
		}
	}

	.nestable-text
	{
		display: flex;
		align-items: center;

		padding: .5rem .75rem;

		margin: .25rem 0;

		color: $body-color;

		border: 1px solid $gray-400;

		background-color: $gray-100;

		border-radius: .25rem;

		transition: .2s ease-out;
		transition-property: color, background-color, border-color, box-shadow;

		&:hover
		{
			color: theme-color('primary');

			background-color: #fff;
		}

		&.over
		{
			$color: theme-color('success');

			background-color: lighten($color, 50%);

			border-color: rgba($color, .2);

			box-shadow: inset 0 0 10px 0 rgba($color, .2);
		}
	}

	.nestable-btn
	{
		text-decoration: none;

		color: $body-color;

		margin-right: .5rem;

		cursor: pointer;
	}

	.nestable-dropzone
	{
		min-height: 3rem;

		margin: .25rem 0;

		background-color: #fafafa;

		box-shadow: inset 0 0 10px 0 rgba(#000, .1);

		border-radius: .25rem;

		transition: .2s ease-out;
		transition-property: background-color, box-shadow;

		&.over
		{
			$color: theme-color('success');

			background-color: lighten($color, 50%);

			box-shadow: inset 0 0 10px 0 rgba($color, .2);
		}
	}

	[draggable]
	{
		cursor: move;

		@include user-select(none);
	}
}