{% spaceless %}
<!doctype html>
{% set htmlLocale = app.request.locale | slice(0, 2) %}
<html lang="{{ htmlLocale }}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<title>{% block title %}Admin - {{ brand_name }}{% endblock %}</title>

	{# Favicon #}
	{% include '@DuoAdmin/Layout/_favicon.html.twig' %}

	{# CSS #}
	{% include '@DuoAdmin/Layout/_stylesheets.html.twig' %}

	{# Webfonts #}
	{% include '@DuoAdmin/Layout/_webfonts.html.twig' %}

	{# Javascript #}
	{% include '@DuoAdmin/Layout/_javascripts.html.twig' %}
</head>
<body class="{% block bodyClass %}admin{% endblock %}{% if app.request.query.get('iframe') %} iframe{% endif %}">
	<div class="wrapper">
		{% if not app.request.query.get('iframe') and menu is defined %}
			<div class="sidebar">
				{% include '@DuoAdmin/Navigation/sidebar.html.twig' %}
			</div>
		{% endif %}
		<div class="page">
			{# Header #}
			{% if not app.request.query.get('iframe') %}
				<header role="banner">
					{# Navbar #}
					{% block navbar %}
						{% include '@DuoAdmin/Navigation/navbar.html.twig' %}
					{% endblock %}

					{# Toolbar #}
					{% block toolbar %}{% endblock %}
				</header>
			{% endif %}

			{# Main #}
			<main class="container-fluid" role="main">
				{# Alerts #}
				{% block alert %}
					{%- include '@DuoAdmin/Layout/_alerts.html.twig' -%}
				{% endblock %}

				{# Filters #}
				{% block filter %}{% endblock %}

				{# Search #}
				{% block search %}{% endblock %}

				{# Content #}
				{% block content %}{% endblock %}
			</main>

			{# Footer #}
			{% if not app.request.query.get('iframe') %}
				<footer class="container-fluid" role="contentinfo">
					{%- block footer %}
						{{- brand_name }} &copy; {{ 'now' | date('Y') -}}
					{% endblock -%}
				</footer>
			{% endif %}
		</div>
	</div>
	{# Modals #}
	{% block modal %}{% endblock %}
</body>
</html>
{% endspaceless %}