{% spaceless %}
<!doctype html>
{% set htmlLocale = app.request.locale | slice(0, 2) %}
<html lang="{{ htmlLocale }}">
<head>
	{# Google Analytics #}
	{% include '@DuoAdmin/Layout/_googleanalytics.html.twig' %}

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<title>{% block title %}Admin{% endblock %}</title>

	{# Webfonts #}
	{% include '@DuoAdmin/Layout/_webfonts.html.twig' %}

	{# Favicon #}
	{% include '@DuoAdmin/Layout/_favicon.html.twig' %}

	{# CSS #}
	{% include '@DuoAdmin/Layout/_css.html.twig' %}
</head>
<body class="{% block bodyClass %}default{% endblock %}">
	<div class="wrapper">
		{% if menu is defined %}
			<div class="sidebar">
				{{ render_menu(menu) }}
			</div>
		{% endif %}
		<div class="page">
			{# Header #}
			<header role="banner">
				{# Navbar #}
				{% block navbar %}
					{% include '@DuoAdmin/Navigation/navbar.html.twig' %}
				{% endblock %}

				{# Toolbar #}
				{% block toolbar %}{% endblock %}
			</header>

			{# Main #}
			<main class="container-fluid" role="main">
				{# Alerts #}
				{% block alert %}
					{%- include '@DuoAdmin/Layout/_alerts.html.twig' -%}
				{% endblock %}

				{# Filters #}
				{% block filter %}{% endblock %}

				{# Content #}
				{% block content %}{% endblock %}
			</main>

			{# Footer #}
			<footer class="container-fluid" role="contentinfo">
				{{- brand_name }} &copy; {{ 'now' | date('Y') -}}
			</footer>
		</div>
	</div>
	{# Modals #}
	{% block modal %}{% endblock %}

	{# Javascript #}
	{% include '@DuoAdmin/Layout/_js_footer.html.twig' %}
</body>
</html>
{% endspaceless %}