{% extends '@DuoAdmin/index.html.twig' %}

{% block bodyClass %}listing-revision{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xl-10">
			{{ form_start(form)}}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}