{% extends '@DuoAdmin/index.html.twig' %}

{% block bodyClass %}listing-create{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xl-11">
			{% include '@DuoAdmin/Listing/form.html.twig' %}
		</div>
	</div>
{% endblock %}