# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    brand_name: Duo

    database_url: '%env(resolve:DATABASE_URL)%'

    mailer_url: '%env(MAILER_URL)%'
    mailer_sender_address: '%env(MAILER_SENDER_ADDRESS)%'

    memcached_url: '%env(MEMCACHED_URL)%'

    # A secret key that's used to generate certain security-related tokens
    secret: '%env(SECRET)%'

    locale: '%env(LOCALE)%'
    locales: '%env(LOCALES)%'

    dkim_key_file: ~
    dkim_domain: example.com
    dkim_selector: default

    router.request_context.host: '%env(ROUTER_REQUEST_CONTEXT_HOST)%'
    router.request_context.scheme: '%env(ROUTER_REQUEST_CONTEXT_SCHEME)%'

    google_analytics_id: '%env(GOOGLE_ANALYTICS_ID)%'

    google_recaptcha_key: '%env(GOOGLE_RECAPTCHA_KEY)%'
    google_recaptcha_secret: '%env(GOOGLE_RECAPTCHA_SECRET)%'

    env(DATABASE_URL): ~

    env(MAILER_URL): 'null://localhost'
    env(MAILER_SENDER_ADDRESS): info@example.com

    env(MEMCACHED_URL): ~

    env(SECRET): ThisTokenIsNotSoSecretChangeIt

    env(LOCALE): en
    env(LOCALES): en|nl

    env(ROUTER_REQUEST_CONTEXT_HOST): ~
    env(ROUTER_REQUEST_CONTEXT_SCHEME): ~

    env(GOOGLE_ANALYTICS_ID): ~

    env(GOOGLE_RECAPTCHA_KEY): ~
    env(GOOGLE_RECAPTCHA_SECRET): ~
