{% extends '@DuoAdmin/Listing/index.html.twig' %}

{% block search %}
	{% if not app.request.query.has('mediaType') %}
		{{- parent() -}}
	{% endif %}
{% endblock %}

{% block content %}
	<div class="media-upload" data-url="{{ path('duo_media_upload') }}">
		<div class="upload-dropzone" title="{{ 'duo_media.upload' | trans }}"></div>
		{{- parent() -}}
	</div>
{% endblock %}
