{% spaceless %}
<ul class="nestable-list{% if not pages | length %} d-none{% endif %}{% if async is defined and async %} nestable-async{% endif %}"{% if parent is defined and parent %} data-id="{{ parent.id }}"{% endif %}>
	{% for page in pages %}
		<li class="nestable-item" data-id="{{ page.id }}">
			<div class="nestable-handle">
				<a href="javascript:;" class="nestable-folder{% if not page.children | length %} d-none{% endif %}" data-url="{{ path('duo_page_listing_page_tree_children', { id: page.id }) }}"></a>
				{{- page.title -}}
			</div>
			{% include '@DuoPage/Menu/tree.html.twig' with { parent: page, pages: [], async: page.children | length } %}
		</li>
	{% endfor %}
</ul>
{% endspaceless %}