{% extends '@DuoAdmin/index.html.twig' %}

{% block bodyClass %}page-tree{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xl-10">
			<nav class="nestable" data-url="{{ moveToRoute }}">
				{% include '@DuoPage/Menu/tree.html.twig' with { pages: pages } %}
			</nav>
		</div>
	</div>
{% endblock %}