{% extends '@DuoAdmin/index.html.twig' %}

{% block bodyClass %}login{% endblock %}

{% block alert %}{% endblock %}

{% block content %}
	<div class="row justify-content-center align-items-center">
		<div class="col-sm-7 col-md-6 col-lg-5 col-xl-4">
			{% form_theme form with ['@DuoAdmin/Form/fields.html.twig'] only %}
			{{ form_start(form) }}
			{% include '@DuoAdmin/Layout/_alerts.html.twig' %}
			<h4>{{ 'duo_security.form.reset_password.title' | trans }}</h4>
			<hr>
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
