@import '~compass-sass-mixins/lib/compass';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.image-preview
{
	position: relative;

	background-color: #fff;
	background-image: linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd), linear-gradient(45deg, #ddd 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd);
	background-position: 0 0, 10px 10px;
	background-size: 20px 20px;

	@include user-select(none);

	&:before
	{
		content: '';

		display: block;

		height: 0;
		padding-bottom: 100%;
	}

	> img
	{
		max-width: 100%;
		max-height: 100%;

		width: auto;
		height: auto;

		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		margin: auto;
	}
}

.media-preview
{
	display: flex;
	flex-direction: column;
	align-items: center;

	a
	{
		display: block;

		text-align: center;
		text-decoration: none !important;

		width: 100%;

		@include media-breakpoint-up(sm)
		{
			width: 400px;
		}
	}

	.image-preview
	{
		position: relative;

		border: 1px solid $thumbnail-border-color;
		border-radius: $thumbnail-border-radius;

		margin-bottom: .5rem;
	}
}

.media-widget
{
	.image-preview
	{
		border: 1px solid $thumbnail-border-color;
		border-radius: $thumbnail-border-radius;

		margin-bottom: .5rem;
	}

	.caption
	{
		margin-bottom: .5rem;
	}

	.actions
	{
		display: flex;
		justify-content: flex-end;

		@include media-breakpoint-up(sm)
		{
			flex-direction: column;
		}

		button[data-action="select"]
		{
			margin-right: .75rem;

			@include media-breakpoint-up(sm)
			{
				margin-right: 0;
				margin-bottom: .75rem;
			}
		}

		button[data-action="clear"]
		{
			@include media-breakpoint-up(sm)
			{
				margin-bottom: 1rem;
			}
		}
	}

	&.empty
	{
		.row > [class^="col-"]
		{
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.image-preview,
		button[data-action="clear"]
		{
			display: none;
		}

		.caption:before
		{
			content: attr(title);
		}
	}
}

.image-crop-widget .media-widget .image-preview .cropper-container
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

body.listing-type-media
{
	.listing-view-list .table tbody td
	{
		vertical-align: middle;

		.image-preview
		{
			width: 100px;
			height: 100px;

			border: 1px solid $thumbnail-border-color;
			border-radius: $thumbnail-border-radius;
		}
	}

	.listing-view-grid .grid-list .grid-item .image-preview
	{
		display: block;

		@include border-top-radius($thumbnail-border-radius);
	}
}