{% extends '@DuoAdmin/index.html.twig' %}

{% block bodyClass %}{{ type }}-tree{% endblock %}

{% block content %}
	{% set isSortable = isSortable | default(false) %}
	<div class="row">
		<div class="col-xl-11">
			<div class="nestable-tree{% if isSortable %} is-sortable{% endif %}"{% if isSortable %} data-move-to-url="{{ moveToUrl }}"{% endif %}>
				{% include '@DuoCore/Tree/tree.html.twig' with { children: children } %}
			</div>
		</div>
	</div>
{% endblock %}