@import '~compass-sass-mixins/lib/compass';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.widget-parts
{
	.tab-content > .tab-pane
	{
		padding-top: 0 !important;
	}

	.nav-tabs + .tab-content > .tab-pane
	{
		padding-top: 1rem !important;
	}

	.sortable-item
	{
		.sortable-handle
		{
			position: relative;

			padding: .5rem;

			background: #fafafa;

			@include border-top-radius($input-border-radius);

			&:after
			{
				content: '';

				position: absolute;
				right: 0;
				bottom: -1px;
				left: 0;

				height: 1px;

				background: $input-border-color;
			}
		}

		> .form-group
		{
			margin-bottom: 0;

			> div
			{
				padding: .5rem 1rem 0;

				&:last-child
				{
					padding: .5rem 1rem 1rem;
				}
			}
		}
	}
}

.modal.prototypes .modal-body
{
	$spacing: .5rem;

	.row
	{
		margin-left: -$spacing;
		margin-right: -$spacing;

		> .col,
		> [class*='col-']
		{
			padding-left: $spacing;
			padding-right: $spacing;

			display: flex;
		}
	}

	.btn
	{
		display: flex;
		flex-flow: column;
		align-items: center;

		width: 100%;

		padding: 1rem .5rem;
		margin-bottom: 1rem;

		white-space: initial;

		i
		{
			font-size: 3rem;

			margin-bottom: .25rem;
		}
	}
}