@import '~compass-sass-mixins/lib/compass';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.part-widget .part-widget-item
{
	.sortable-handle
	{
		position: relative;

		padding: .5rem;

		background: #fafafa;

		@include border-top-radius($input-border-radius);

		&:after
		{
			content: '';

			position: absolute;
			right: 0;
			bottom: -1px;
			left: 0;

			height: 1px;

			background: $input-border-color;
		}
	}

	> .form-group
	{
		margin-bottom: 0;

		> div
		{
			padding: .5rem 1rem 0;

			&:last-child
			{
				padding: .5rem 1rem 1rem;
			}
		}
	}
}

.modal-part .modal-body
{
	.row
	{
		margin-left: -.5rem;
		margin-right: -.5rem;

		> div
		{
			padding-left: .5rem;
			padding-right: .5rem;
		}
	}

	.btn
	{
		display: flex;
		flex-flow: column;
		align-items: center;

		width: 100%;

		padding: 1rem .5rem;
		margin-bottom: 1rem;

		i
		{
			font-size: 3rem;

			margin-bottom: .25rem;
		}
	}
}