.listing-view-list .table
{
	thead th,
	tbody td
	{
		white-space: nowrap;

		&:first-child,
		&:last-child
		{
			width: 1%;
		}

		&:first-child .custom-control
		{
			display: flex;

			margin: 0;
		}
	}

	tbody tr[data-url] td,
	tbody tr[data-item] td
	{
		cursor: pointer;
	}

	tbody td:last-child a
	{
		text-decoration: none;

		margin-left: .75rem;
	}

	.sortable a
	{
		display: flex;
		align-items: center;
		justify-content: space-between;

		text-decoration: none;

		i
		{
			margin-left: .5rem;
		}
	}
}

.listing-view-grid .grid-list .grid-item
{
	flex: 1 0 auto;

	margin-bottom: 1rem;

	position: relative;

	[type=checkbox]
	{
		position: absolute;
		z-index: -1;

		opacity: 0;

		&:checked + label
		{
			box-shadow: 0 0 10px $blue !important;
		}

		& + label
		{
			display: block;

			cursor: pointer;

			margin: 0;

			border: 1px solid $thumbnail-border-color;
			border-radius: $thumbnail-border-radius;

			transition: .2s box-shadow ease-out;

			&:hover
			{
				box-shadow: 0 0 10px rgba(#000, .2);
			}
		}
	}

	.icon
	{
		position: relative;

		display: block;

		&:before
		{
			content: '';

			display: block;

			height: 0;
			padding-bottom: 100%;
		}

		i
		{
			display: flex;
			align-items: center;
			justify-content: center;

			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			font-size: 4rem;
		}
	}

	.label
	{
		display: block;

		padding: .5rem;

		.name
		{
			display: block;

			margin-bottom: .5rem;

			overflow: hidden;

			max-width: 100%;

			text-overflow: ellipsis;

			white-space: nowrap;
		}

		.actions
		{
			display: block;

			text-align: right;

			@include media-breakpoint-up(md)
			{
				margin-left: 1rem;
			}

			a
			{
				text-decoration: none;

				& + a
				{
					margin-left: 1rem;
				}
			}
		}
	}
}

.listing-filter form
{
	padding: 1rem;

	border-radius: .25rem;

	background: #fff;

	@include media-breakpoint-down(xs)
	{
		background: #fafafa;

		box-shadow: inset 0 0 10px 0 rgba(#000, .1);
	}
}

.listing-search .btn
{
	span
	{
		@include media-breakpoint-down(xs)
		{
			display: none;
		}
	}

	i
	{
		@include media-breakpoint-up(sm)
		{
			display: none;
		}
	}
}

.listing-pagination
{
	background: #fff;

	@include media-breakpoint-up(sm)
	{
		nav
		{
			padding: 1rem;

			ul
			{
				margin: 0;
			}
		}

		&:last-child nav
		{
			padding-top: 0;
		}
	}
}

@include media-breakpoint-up(sm)
{
	.listing-index-form,
	.listing-create-form
	{
		padding: 1rem;

		background: #fff;
	}
}

.modal-revisions .table
{
	thead th,
	tbody td
	{
		&:last-child
		{
			width: 1%;

			white-space: nowrap;
		}
	}

	tbody td:last-child a
	{
		text-decoration: none;

		margin-left: .75rem;
	}
}

.modal-iframe
{
	@include media-breakpoint-up(sm)
	{
		.modal-dialog
		{
			max-width: 90vw;
		}
	}

	.modal-body
	{
		height: 72vh;

		padding: 0;
	}
}